<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2 >String</h2>
    <div v-for="char in myStr">
      {{char}}
    </div>
    <hr>
    <div v-for="(char, index) in myStr" :key="index">
      {{ index }} - {{ char }}
    </div>
    <hr>
    <h2>Array</h2>
    <div v-for="fruit in fruits">
        {{fruit}}
    </div>
    <hr>
    <div v-for="(fruit, index) in fruits" :key="`fruit-${index}`">
        {{fruit}}
    </div>
    <hr>
    <div v-for="todo in todos" :key="todo.id">
      {{todo.title}} - {{todo.completed}}
    </div>
    <hr>
    <h2>Object</h2>
    <div v-for="(value, key) in myObj" :key="key">
      {{key}} : {{ value }}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        myStr: "Hello World!",
        fruits: ['apple', 'banana', 'coconut'],
        todos : [
          {id:1, title: 'todo1', completed: true},
          {id:2, title: 'todo2', completed: false},
          {id:3, title: 'todo3', completed: true},
        ],
        myObj:{
          name: 'kim',
          age: 50
        }
      }
    })
</script>
</body>
</html>

