<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>1. Input => Data</h2>
    <h3>{{myMessage}}</h3>
    <input v-model="myMessage" type="text">
    <hr>
    <h2>2. Input => Data</h2>
    <h3>{{myMessage2}}</h3>
    <input v-on:input="onInputChange" type="text">
    <hr>
    <h2>3. Checkbox</h2>
    <input type="checkbox" id="checkbox" v-model="isChecked">
    <label for="checkbox">{{isChecke}}</label>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        myMessage: "",
        myMessage2: "",
        isChecked: true,
      },
      methods: {
        onInputChange: function(event){
          this.myMessage2 = event.target.value
        }
      }

    })
  </script>
</body>
</html>
